<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f92ff">  <td>18/08/06 20:41:43</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;LoginTest.LaunchBrowser()[pri:0, instance:com.profileTests.LoginTest@e26948]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19597309</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>18/08/06 20:41:50</td>   <td>7055</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.TypeUrl()[pri:0, instance:com.profileTests.LoginTest@e26948]">&gt;&gt;TypeUrl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19597309</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>18/08/06 20:42:18</td>   <td>35142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.TC01_Dropdown()[pri:0, instance:com.profileTests.LoginTest@e26948]">TC01_Dropdown</td> 
  <td>main@19597309</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>18/08/06 20:42:26</td>   <td>43062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.TC01_MultiselectDropdown()[pri:0, instance:com.profileTests.LoginTest@e26948]">TC01_MultiselectDropdown</td> 
  <td>main@19597309</td>   <td></td> </tr>
<tr bgcolor="8f92ff">  <td>18/08/06 20:42:38</td>   <td>55104</td> <td>&nbsp;</td><td title="&lt;&lt;LoginTest.quitbrowser()[pri:0, instance:com.profileTests.LoginTest@e26948]">&lt;&lt;quitbrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@19597309</td>   <td></td> </tr>
</table>
